body {
    background-image: url('images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.55);
    background-blend-mode: lighten;
}

.cartouche_infos {
    padding-bottom : 10px;
}

.titre {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    padding-bottom: 2px;
    margin-bottom: 30px;
}

.semaine {
    background-color: rgb(255, 255, 255);
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    margin-bottom: 30px;
    border-radius: 10px;
}

.row_player {
    margin-bottom: 0px;
}

.row_org {
    margin-bottom: 5px;
}

badge {
    border-radius: 30px 10%;
}

footer {
    border-radius: 10px;
}

.infos_indispos {
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-left: 20px;

}

.btn_register {
    padding-bottom: 15px;
}

.titre, h5, .title_semaine {
    font-family: Lobster, cursive;
}