html {
    background: linear-gradient(135deg, rgb(17, 116, 184) 1%, rgba(0, 19, 23, 1) 100%) fixed;
    background-size: cover;
    height: 100%;
    display: block;
}

h2 {
    padding-top: 10px;
    margin-top: 0;
}

.cartouche_infos {
    padding-bottom : 10px;
}

.center {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.titre {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 30px;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.semaine {
    background-color: rgb(255, 255, 255);
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    margin-bottom: 30px;
    border-radius: 10px;
}

.td_resa {
    vertical-align: bottom;
}

.row_player {
    margin-bottom: 0;
}

.row_org {
    margin-bottom: 0;
}

badge {
    border-radius: 30px 10%;
}

footer {
    border-radius: 10px 10px 0 0;
}

footer .container .row {
    margin-bottom: 0;
}

.infos_indispos {
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.btn_register {
    padding-bottom: 15px;
}

h5, .title_semaine, .lobster {
    font-family: Lobster, cursive;
}

.page-footer {
    padding-top: 10px !important;
}

.datepicker-date-display, .timepicker-digital-display {
    background-color: rgb(17, 116, 184) !important;
}

.datepicker-table td.is-selected {
    background-color: rgb(17, 116, 184) !important;
}

.timepicker-canvas line {
    stroke: rgb(17, 116, 184);
}

.timepicker-canvas-bg, .timepicker-canvas-bearing {
    fill: rgb(17, 116, 184);
}